.titleCard{
    margin:auto; 
    background-color : #5C6BC0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bold;
    color:antiquewhite;

}
.card{
    color : #5C6BC0;
}

.instructions {
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 6%;
    min-height: 50%;
}
.file-input {
    display: none;
  }