.titleCard{
    margin:auto; 
    background-color : #5C6BC0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: bold;
    color:antiquewhite;

}