<mat-card class="instructions">
    <mat-card-title>
        Instructions
    </mat-card-title>
    <mat-card-content>
        <p>
            Click the button below to upload your 
            document so Legal Lingo can process it.    
        </p>
        <p>
            You must upload the document as a pdf file. 
        </p>
    </mat-card-content>
<mat-card-content>

    <input type="file" id='input'>
</mat-card-content>        
<mat-card-actions>
    <button mat-raised-button (click)="continue()">Continue</button>
</mat-card-actions>
</mat-card>