<div fxLayout="column">
    <mat-card style="margin:2em;">
        <mat-card-title>What is Legal Lingo?</mat-card-title>
            <mat-card-content fxLayout="row">
                <div>
                        <p>
                        Legal Lingo is the cobblestone upon which the road to the American Dream
                        is built. The free web-based service allows users to anonymously translate
                        tedious, long, extraneous legal documents. 
                    </p>
                    <p>Legal Lingo allows <b>anyone </b>, 
                        regardless of English-ability, to fully understand legal 
                        commitments <em>before</em> they're entered. 
                    </p>
                    <p>Further, users who don't need translation
                        services can use Legal Lingo's summarization service, which highlights 
                        important keywords in documentation and shortens the time required by users to understand documents.
                    </p>
                </div>
                <mat-card-actions>
                    <button mat-raised-button color="primary" style="margin-left:45%" (click)="goToUploadDocument()">Get Started</button>
                </mat-card-actions>
            </mat-card-content>
    </mat-card>
    <mat-card style="margin:2em;">
        <mat-card-title>¿Qué es Legal Lingo?</mat-card-title>
        <mat-card-content >
            <p>
                Legal Lingo es el adoquín sobre el que se asienta el camino hacia el Sueño Americano.
                está construído. El servicio gratuito basado en la web permite a los usuarios traducir de forma anónima
                documentos legales tediosos, largos y extraños.
            </p>
            <p>Legal Lingo permite que <b>cualquiera</b>,
                independientemente de la capacidad de inglés, comprenda completamente los
                compromisos <em>antes</em> de que se introduzcan.
            </p>
            <p>Además, los usuarios que no necesitan traducción
                pueden usar el servicio de resumen de Legal Lingo, que destaca
                palabras clave importantes en la documentación y acorta el tiempo requerido para comprender los documentos.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" style="margin-left:45%" (click)="goToUploadDocument()">Empezar</button>
        </mat-card-actions>
    </mat-card>
</div>
